# Dépendances pour PythonAnywhere
asgiref==3.8.1
Django==5.1.2
python-decouple==3.8
sqlparse==0.5.1
tzdata==2024.2

# Base de données MySQL pour PythonAnywhere (mysqlclient est déjà installé sur PA)
# mysqlclient sera installé automatiquement sur PythonAnywhere

# Pour les images et fichiers statiques
Pillow==10.4.0

# Pour la sécurité en production
whitenoise==6.7.0